name: CI

on:
    pull_request:
        branches:
            - main

jobs:
    type-check:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: setup nodejs
              uses: actions/setup-node@v6
              with:
                  node-version: "24"

            - name: setup pnpm
              uses: pnpm/action-setup@v4

            - name: Install dependencies
              run: pnpm install

            - name: Run type checking
              run: pnpm check-types
